

<mat-drawer-container class="example-container">
    <p>pippo</p> 
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem" routerLink="pagina1">Pagina1</mat-list-item>
            <mat-list-item role="listitem" routerLink="pagina2">Pagina2</mat-list-item>
            <mat-list-item role="listitem" routerLink="pagina3">Pagina3</mat-list-item>
          </mat-list>
          
    </mat-drawer>



    <mat-drawer-content>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
          
        <router-outlet></router-outlet>
        
    </mat-drawer-content>
  </mat-drawer-container>

